* {
  box-sizing: border-box;
}

body {
  width: 80vw;
  max-width: 1400px;
  margin: 0 auto;
  border: solid 1px gray;
}

.container {
  border: solid navy 3px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  border: solid 1px gray;
  border-bottom: solid 3px cadetblue;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  /* flex: 1 !important; */
  margin-bottom: .2rem;
}

