:root {

/* COLORS */
--color-teal-dark:  #006669;
--color-teal-normal:  #008489;
--color-teal-bright: #05f7ff;
--color-wild-sand: #f6f6f6; /* very light gray */
--color-tundora: #444; /* dark gray */
--color-teal-btn-dark: #005255;


}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

body {
  width: 80vw;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
  background: var(--color-wild-sand);
  font-family: "Lora", serif;
  padding: 1rem;
  /* border: solid #686868 3px; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Candal', serif;
  color: var(--color-tundora);
  margin: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.btn {
  padding: .5rem 1rem;
  background: var(--color-teal-normal);
  color: white;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.btn-big {
  padding: .7rem 1.3rem;
  line-height: 1.3rem;
}

.btn:hover {
  color: white !important;
  background: var(--color-teal-btn-dark);
}

.text-input {
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  outline: none;
  color: #444;
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-family: 'Lora', serif;
}


.cards {
  border: solid navy 3px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  border: solid 1px gray;
  border-bottom: solid 3px cadetblue;
  justify-content: space-between;
  align-items: flex-start;
  /* flex: 1 !important; */
  margin-bottom: 0.2rem;
  background: bisque;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
  /* width: calc(100%/3); */
  /* width: 100%; */
  width: 27%;
  margin: 0.2rem;
  padding: 0.2rem 0.8rem 2rem;
  gap: 0.4rem;
}

.card-sec {
  max-width: 100%;
}

.post-thumb {
  padding: 0;
  margin: 0 auto;
}

.post-thumb figcaption {
  color: red;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
}

.post-thumb img {
  background: #333;
}

.card-title {
  color: teal;
  font-size: 1.2rem !important;
  filter: brightness(0.6);
}
.card-title:hover {
  filter: brightness(0.9);
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Display 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blurb,
.blurb > * {
  font-size: 0.8rem;
  font-weight: 400 !important;
}

.blurb {
  border: solid 1px #333;
  border-radius: 0.4rem;
  padding: 1rem;
  background: aliceblue;
  filter: lighten(0.9);
}

/* ////////// MESSAGE & ERROR STYLES //////////// */

.msg {
  border-radius: 0.3rem;
  display: inline-block;
  padding: 0.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 0.8rem;
  margin: 0.2rem;

  background: lightblue;
  color: navy;
  border: solid 2px navy;
}
.msg::before {
  content: "📋";
  font-size: 0.8rem;
}

.error {
  background: lightpink;
  color: brown;
  border-color: brown;
}
.error::before {
  content: "❗";
}

.warn {
  background: lightyellow;
  color: saddlebrown;
  border-color: saddlebrown;
}
.warn::before {
  content: "⚠️";
}

/* ////////// HEADER RESPONSIVE CLAMP DEFAULTS //////////// */

/* h1 {
  font-size: clamp(1.8125rem, 1.05328rem + 3.19672vw, 4.25rem);
}
h2 {
  font-size: clamp(1.5rem, 0.97439rem + 2.21311vw, 3.1875rem);
}
h3 {
  font-size: clamp(1.25rem, 0.89959rem + 1.47541vw, 2.375rem);
}
h4 {
  font-size: clamp(1.0625rem, 0.82889rem + 0.98361vw, 1.8125rem);
}
h5 {
  font-size: clamp(0.875rem, 0.71926rem + 0.65574vw, 1.375rem);
}
h6 {
  font-size: clamp(0.75rem, 0.67213rem + 0.32787vw, 1rem);
}
body {
  font-size: clamp(1rem, 0.84426rem + 0.65574vw, 1.5rem);
}
p {
  font-size: clamp(1rem, 0.84426rem + 0.65574vw, 1.5rem);
} */

/* ////////// SINGLE POST //////////// */

body.single {
  display: flex;
}

.single main {
  flex: 1 1 70%;
  background: bisque;
}
.single .sidebar {
  background: aliceblue;
  flex: 0 0 250px;
}

.single figure img {
  width: clamp(100px, 600px, 25vw) !important;
  border: 6px purple solid;
}



/* ////////// NAVBAR //////////// */

header {
  background: var(--color-teal-normal);
  height: 66px;
}

header * {
  color: white;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2rem;
}

header .logo-text {
  margin: 8px;
  font-family: "Candal", serif;
}

header .logo-text span {
  color: var(--color-teal-bright);
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left; /* horz display */
  position: relative;
}

/* DROP-DOWN 2NDry NAV MENU */
header ul li ul {
  position: absolute;
  top: 66px; /* same as main nav height */
  left: 0px;
  width: 180px;
  display: none;
  z-index: 88888;
}

header ul li:hover ul {
  display: block;
}

header ul li ul li {
  width: 100%; /* assume width of parent */
}

header ul li ul li a {
  padding: 10px;
  color: var(--color-tundora);
  background: white;
}

header ul li ul li a:hover {
  background: #d5d6d6;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1rem;
  text-decoration: none;
}

header ul li a:hover {
  background: var(--color-teal-dark);
  transition: 0.5s;
}

header .menu-toggle {
  display: none;
}

.logout {
  color: red;
}

.top-nav .fa-chevron-down {
  font-size: 0.8rem;
}

.menu-align-rt {
  width: 100%;
  right: 0px;
}




.page-title {
  background: rgb(255, 232, 98);
  text-align: center;
  margin: 0;
  padding: 1.2rem 1rem 2rem;
}



/* ////////// POST SLIDER (SLICK) //////////// */

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: var(--color-teal-dark);
}

.post-slider {
  /* clear: both; */
  margin-bottom: 3rem;
  position: relative;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2rem;
  color: var(--color-teal-dark);
  cursor: pointer;
}
.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2rem;
  color: var(--color-teal-dark);
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0px;
}

.post-slider .post-wrapper .post {
  width: 300px;
  height: 330px;
  margin: 0 10px;
  background: #05f7ff;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a3;
}

.post-slider .post-wrapper .post .post-info {
  height: 130px;
  padding: 0px 5x;
}

.post-slider .post-wrapper .post .post-info i {
  font-size: .8rem;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}






/* ////////// CONTENT //////////// */

.content {
  width: 90%;
  margin: 30px auto 30px;
}

.content .main-content {
  width: 70%;
  float: left;
}

.content .main-content.single {
  background: white;
  padding: 20px 50px;
  font-size: 1.1rem;
}


.content .main-content .post {
  width: 95%;
  height: 270px;
  margin: 20px auto;
  border-radius: 5px;
  background: white;
  position: relative;
}

.content .main-content .post .read-more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid var(--color-teal-dark);
  background: transparent;
  border-radius: 0px;
  color: var(--color-teal-dark) !important;
}
.content .main-content .post .read-more:hover {
  background: var(--color-teal-dark);
  color: white !important;
  transition: .25s;
}

.content .main-content .post .post-image {
  width: 40%;
  height: 100%;
  float: left;
}

.content .main-content .post .post-preview {
  width: 60%;
  padding: 10px;
  float: right;
}

.content .main-content .post .post-preview i {
  font-size: .8rem;
}

.content .main-content .recent-post-title {
  margin: 20px;
}

.content .sidebar {
  width: 30%;
  float: left;
  height: 300px;
}

.content .sidebar.single {
  padding: 0px 10px;
}

.content .sidebar .section {
  background: white;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.content .sidebar .section .section-title {
  margin: 10px 0px;
}


.content .sidebar .section.search {
  margin-top: 80px;
}

.content .sidebar .section.topics ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border-top: 1px solid #e0e0e0;
}

.content .sidebar .section.topics ul li a {
  display: block;
  padding: 15px 0px;
  border-bottom: 1px solid #e0e0e0;
  transition: all 0.3s;
}

.content .sidebar .section.topics ul li a:hover {
  padding-left: 10px;
  transition: all 0.3s;
}



/* ////////// FOOTER //////////// */

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  color: white;
}

.footer .footer-content .about h1 span {
  color: var(--color-teal-bright);
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 1.3rem;
  border-radius: 5px;
  transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: white;
  transition: all .3s;
}

.footer .footer-content .links ul a {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  transition: all .3s;
}

.footer .footer-content .links ul a:hover {
  color: white;
  margin-left: 15px;
  transition: all .3s;
}

.footer .footer-content .contact-form .contact-input {
  background: #272727;
  color: #bebdbd;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: .9rem 1.4rem;
  border: none;
}

.footer .footer-content .contact-form .contact-input:focus {
  background: #1a1a1a;
}

.footer .footer-content .contact-form .contact-btn {
  float: right;
  font-size: 1.1rem;
  font-family: 'Lora', serif;
}






/* FOOTER BOTTOM */
.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  padding-top: 20px;
}






/* ////////// MEDIA QUERIES //////////// */

/* 750px or less */
@media only screen and (max-width: 750px) {

  header {
    position: relative;
  }
  header ul {
    width: 100%;
    background: #0e94a0;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100rem;
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: static;
    width: 100%;
    display: block;
  }

  header ul li ul li a {
    padding: 10px;
    color: white;
    background: #0e94a0;
    padding-left: 3rem;
  } 

  header ul li ul li a:hover {
    background: var(--color-teal-dark);
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 1.9rem;
  }

  header .logo {
    margin-left: .5 rem;
  }
  
  header .logo-text {
    font-size: 1.6rem;
  }

}