/**

STYLES for: tutorial notes

*/

.error {
  color: brown;
  font-weight: bold;
  background: pink;
  padding: 2rem;
}
.bookmark-link {
  background: orange !important;
  padding: 0.4rem 1rem;
  border: solid 1px brown;
  color: white;
  font-weight: 700;
}
h3[id^="vid"] {
  background: olive;
  color: white;
  padding: 0.3rem 1rem;
}
#bookmark {
  background: orange;
  display: inline-block;
  padding: 1rem;
  border: solid green 4px;
  transform: skew(20deg);
}
/* H6 is reserved for definitions */
h6 {
  padding: 1rem;
  border: solid gray 2px;
  border-radius: 1rem;
  background: #ffffe3;
}

/* H4 will be for messages, tips, warnings, timestamps, etc.
   This is the base message format.
*/
h4 {
  padding: 1rem;
  border: solid 2px gray;
  border-radius: 1rem;
}

/* H4 gotchas */
h4[id^="gotcha"] {
  background: mistyrose !important;
  color: brown;
  border-color: brown;
}

/* H4 tips */
h4[id^="tip"] {
  background: #eafbea !important;
  /* color: brown;
  border-color: brown; */
}

/* H4 video time stamps */
h4[id*="---"] {
  background: bisque;
  padding: 1rem;
}


/* Filename formatting */
.code-filename {
  background: beige;
  min-height: 1rem;
  display: inline-block;
  border: solid black 2px;
  padding: 0.3rem;
  color: black;
  font-weight: 500;
  padding-right: 1rem;
  border-radius: 0 5px 5px 0;
  border-left: none !important;
  padding-left: 0;
  margin-top: 2rem;
}

.code-filename::before {
  font-family: FontAwesome;
  content: "\f15c";
  padding: 0.3rem 0.6rem;
  background: black;
  color: white;
  margin: 0;
  padding: 0.5rem 0.7rem;
  margin-right: 0.8rem;
}
